<!DOCTYPE html>
<html lang="en">
<head>
  <title>Báo cáo tốt nghiệp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--  <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
<!--    <script src="../static/js/bootstrap.bundle.min.js"></script>-->
    <link rel="stylesheet" href="../static/css/mui.min.css">
    <script src="../static/js/mui.min.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/custom.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
<!--    <link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/mui.min.css">
    <script src="../static/js/mui.min.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/custom.css">

    <script src="../static/js/main.js"></script>
    <script src="../static/js/goiham.js"></script>

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }
  </style>
</head>
<body class="">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
<!--        <img src="Ứng dụng/static/img/logoTDMU.png" alt="">-->
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li ><a href="/">Trang chủ</a></li>
          <li><a href="/ChucNangPhanTich">Phân tích dữ liệu</a></li>
          <li class="active"><a href="./ChucNangTuongQuan">Xác định đặc trưng</a></li>
          <li><a href="./ChucNangMoHinh">Xác định mô hình</a></li>
          <li ><a href="./ChucNangDuDoan">Ứng dụng</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container-md">
    <h1 class="fw-bold text-center text-uppercase">Xác định đặc trưng</h1>
    <div style="height: 1px;width: 100%;background-color: #bfbebe"></div>
    <div class="container py-5">
        <p class="text-center mb-4 fw-bold h2 text-dark">Sự tương quan giữa các yếu tố đến sự tốt nghiệp của sinh viên đúng hay không đúng tiến độ của chương trình</p>
        <p class="text-center mb-4 fw-bold h2 text-dark">Hệ thống thông tin</p>
        <div class="">
            <table class="table table-bordered mb-5">

                    <tr>
                        <th scope="col">Yếu tố</th>
                        <th scope="col">Hệ số Pearson</th>
                        <th scope="col">Hệ số Spearman</th>
                    </tr>

                <tbody id="tqTable">
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="d-flex flex-column align-items-center mb-4">
            <img  src="../static/img/pearson.png" height="auto" width="100%" alt="Hệ số tương quan"/>
            <p class="text-center mt-4 h3">Biểu đồ tương quan của các đặc trưng bằng Pearson</p>
        </div>
        <br>
        <br>
        <div class="d-flex flex-column align-items-center mb-4">
            <img  src="../static/img/spearman.png" height="auto" width="100%" alt="Hệ số tương quan"/>
            <p class="text-center mt-4 h3">Biểu đồ tương quan của các đặc trưng bằng Spearman</p>
        </div>
    </div>
</div>
</body>
</html>
